{% extends "new_site_base.html" %}

{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row">

  <!-- headline -->
  <div id="pyohio-headline">
    <div class="col-xs-12 col-sm-8">
      <h1>PyOhio 2014</h1>
      <p class="big-date">July 26 - 27</p>
      <p class="headline-p">A <b>free</b> annual conference for Python programmers in and<br> around Ohio and the entire Midwest.</p>
    </div>

    <!-- diamond -->
    <div class="col-xs-12 col-sm-4">
      <div class="diamond-bg">
        <p>Call for<br>Proposals<br>
        -<br>
        <strong>Submit<br>now!</strong>
        </p>
      </div>
    </div>
    <!-- /diamond -->

  </div>
  <!-- /headline -->

</div>

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- big circles -->
<div class="row">
  <div id="big-circles">
    <div class="col-xs-12 col-md-4">
      <div class="circle">
        <img src="{{ STATIC_URL }}redesign/images/sponsor.svg" alt="volunteer hand icon" width=80 height= 70>
        <h2>Sponsor!<img src="{{ STATIC_URL }}redesign/images/caret.svg" alt="caret icon" width=30 height= 30></h2><br>
        <p>
          Sponsoring PyOhio lets the attendees<br> know that your organization shares their<br> love of excelence in technology.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="circle">
        <img src="{{ STATIC_URL }}redesign/images/speak.svg" alt="volunteer hand icon" width=100 height= 70>
        <h2>Speak<img src="{{ STATIC_URL }}redesign/images/caret.svg" alt="caret icon" width=30 height= 30></h2><br>
        <p>
          Have an idea for a talk or tuturial?<br> Sign up and login to submit your<br> proposal now!
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="circle">
        <img src="{{ STATIC_URL }}redesign/images/volunteer.svg" alt="volunteer hand icon" width=100 height= 70>
        <h2>Volunteer <img src="{{ STATIC_URL }}redesign/images/caret.svg" alt="caret icon" width=30 height= 30></h2><br>
          <p>
          Help make PyOhio 2014 a smashing success.<br> Sign up to volunteer  and you<br> may even get a free t-shirt!
          </p>
      </div>
    </div>
  </div>
</div>
<!-- /big circles -->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- sponsors -->
<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12 col-sm-3 index-p">
        <h2>Sponsors</h2>
      </div>
    </div>

    {% for i in "12" %}
    <div class="row">
      {% for i in "1234" %}
      <div class="col-xs-12 col-sm-3">
        <div class="sponsorlogo"><h3>Sponsor's<br>Logo</h3>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</div>
<!-- /sponsors -->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- pykids -->
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-6 index-p">
        <h2>Py Kids</h2><br>
        Young people ages 12-17 are invited to come and learn to program in Python at PyOhio on Saturday, July 27.<br>
        <a href="http://pyohio.org/young-coders/"><h3>Find Out More <img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=25></h3></a>
      </div>

      <div class="col-xs-12 col-sm-6 index-p">
        <h2>Previously...</h2><br>
        What can you expect at pyohio? Check out <strong>videos</strong> from previous PyOhio conferences:<br>
        <ul class="list-inline">
          <li><a href="http://pyvideo.org/category/22/pyohio-2012"><h3>2012 <img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=25></h3></a></li>
          <li><a href="http://pyvideo.org/category/12/pyohio-2011"><h3>2011 <img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=25></h3></a></li>
          <li><a href="http://pyvideo.org/category/11/pyohio-2010"><h3>2010 <img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=25></h3></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /pykids -->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- sm circles-->
<div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <h3>Lightning<br> Talks<br><img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=20></h3>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <h3>Sprints<br><img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=20></h3>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <h3>PyCamp<br><img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=20></h3>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <h3>Young<br>Coders<br><img src="{{ STATIC_URL }}redesign/images/caret-red.svg" alt="caret icon" width=30 height=20></h3>
    </div>
  </div>
</div>
<!-- /sm circles-->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- Pyohio info -->
<div class="row">
  <div class="col-xs-12 col-sm-6 index-p">
    <p>PyOhio is only successful through the efforts of our sponsors, speakers, and volunteers. If you would like to support PyOhio and keep it the best Python conference in the Midwest, please donate to the PyOhio Future Fund.</p>
  </div>

  <div class="col-xs-12 col-sm-6 index-p">
    <p>PyOhio is a welcoming, open conference and expects all attendees, speakers, and volunteers to abide by the <a href="/code-of-conduct/"><strong>PyOhio Code of Conduct</strong></a>.</p>
    <p>See you in Columbus!</p>
  </div>
</div>
<!-- /Pyohio info -->
{% endblock %}
