{% extends "site_base.html" %}

{% load boxes_tags %}
{% load i18n %}
{% load sponsorship_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_outer %}
<div class="row">

  <!-- headline -->
  <div>
    <div class="col-xs-12 col-sm-8" id="homepage-headline">
      <h1>{{ SITE_NAME }}</h1>
      <div class="headline-date">July 26 - 27</div>
      {% box "homepage_slogan" %}
    </div>

    <!-- diamond -->
    <div class="col-xs-12 col-sm-4">
      <div class="diamond-bg">
        <p>Call for Proposals</p>
        <p><a href="{% url "cms_page" "call-for-proposals/" %}">Submit now!</a></p>
      </div>
      <div id="duckling-widget" style="margin-top:40px; text-align:center;">
        <iframe src='//duckling.us/duckling-widget/pyohio14/' height='197' width='290' style="border-radius:4px;" frameborder='0' scrolling='no'></iframe>
      </div>
    </div>
    <!-- /diamond -->

  </div>
  <!-- /headline -->

</div>

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- sponsors -->
<div class="row sponsors">
  <div class="col-xs-12 col-sm-12 index-p">
    <h2>Sponsors</h2>

    {% sponsor_levels as levels %}
    {% for level in levels %}
      {% for sponsor in level.sponsors %}
        {% if sponsor.website_logo %}
        <div class="col-xs-12 col-sm-3">
          <div class="sponsorlogo">
            {% if sponsor.external_url %}<a href="{{ sponsor.external_url }}">{% endif %}
              <img src="{% thumbnail sponsor.website_logo "150x80" %}"
                    alt="{{ sponsor.name }}" />
            {% if sponsor.external_url %}</a>{% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
<!-- /sponsors -->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- big circles -->
<div class="row">
  <div id="big-circles">
    <div class="col-xs-12 col-md-4">
      <div class="circle">
        <img src="{% static 'images/sponsor.svg' %}" alt="volunteer hand icon" width=80 height=70>
        <div class="circle-headline">
          <a href="{% url "sponsor_apply" %}">Sponsor! <img src="{% static 'images/caret.svg' %}" alt="caret icon" /></a>
        </div>
        <p>
          Sponsoring PyOhio lets the attendees<br>
          know that your organization shares their<br>
          love of excellence in technology.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="circle">
        <img src="{% static 'images/speak.svg' %}" alt="volunteer hand icon" width=100 height=70>
        <div class="circle-headline">
          <a href="{% url "cms_page" "call-for-proposals/" %}">Speak <img src="{% static 'images/caret.svg' %}" alt="caret icon" /></a>
        </div>
        <p>
          Have an idea for a talk or tuturial?<br>
          Sign up and login to submit your<br>
          proposal now!
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="circle">
        <img src="{% static 'images/volunteer.svg' %}" alt="volunteer hand icon" width=100 height=70>
        <div class="circle-headline">
          <a href="{% url "cms_page" "volunteer/" %}">Volunteer <img src="{% static 'images/caret.svg' %}" alt="caret icon" /></a>
        </div>
        <p>
        Help make {{ SITE_NAME }} a smashing success.<br>
        Sign up to volunteer and you<br>
        may even get a free t-shirt!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /big circles -->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- subblocks -->
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-6 index-p">
        <h2>PyKids</h2>
        {% box "homepage_pykids" %}
        <a href="{% url "cms_page" "young-coders/" %}"><h3>Find Out More <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a>
      </div>

      <div class="col-xs-12 col-sm-6 index-p">
        <h2>PyCamp</h2>
        {% box "homepage_pycamp" %}
        <a href="http://tripython.org/pyohio14"><h3>Find Out More <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a>
      </div>
    </div>
  </div>
</div>

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- subblocks -->
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-6 index-p">
        <h2>Details</h2>
        {% box "homepage_details" %}
        <a href="{% url "cms_page" "details/" %}"><h3>Find Out More <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a>
      </div>

      <div class="col-xs-12 col-sm-6 index-p">
        <h2>Previously...</h2>
        {% box "homepage_previously" %}
        <ul class="list-inline">
          <li><a href="http://pyvideo.org/category/41/pyohio-2013"><h3>2013 <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a></li>
          <li><a href="http://pyvideo.org/category/22/pyohio-2012"><h3>2012 <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a></li>
          <li><a href="http://pyvideo.org/category/12/pyohio-2011"><h3>2011 <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a></li>
          <li><a href="http://pyvideo.org/category/11/pyohio-2010"><h3>2010 <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" width=30 height=25></h3></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /subblocks -->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- sm circles-->
<div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <a href="{% url "cms_page" "lightning/" %}">Lightning Talks <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" /></a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <a href="{% url "cms_page" "sprints/" %}">Sprints <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" /></a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <a href="http://tripython.org/boot-camp/pyohio14/">PyCamp <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" /></a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="sm-circle">
      <a href="{% url "cms_page" "young-coders/" %}">Young Coders <img src="{% static 'images/caret-red.svg' %}" alt="caret icon" /></a>
    </div>
  </div>
</div>
<!-- /sm circles-->

<div class="row padding80pxtb">
  <div class="col-xs-2 col-sm-1 horizontalline"></div>
  <div class="col-xs-10 col-sm-11"></div>
</div>

<!-- Pyohio info -->
<div class="row">
  <div class="col-xs-12 col-sm-6 index-p">
    {% box "homepage_please_donate" %}
  </div>

  <div class="col-xs-12 col-sm-6 index-p">
    {% box "homepage_code_of_conduct" %}
  </div>
</div>
<!-- /Pyohio info -->
{% endblock body_outer %}
