<table class="calendar table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="time">&nbsp;</th>
      {% for room in timetable.rooms %}
        <th>{{ room.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in timetable %}
      <tr>
        <td class="time">{{ row.time|date:"h:iA" }}</td>
        {% for slot in row.slots %}
        <td class="slot slot-{{ slot.kind.label }}"
            colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
          {% if slot.kind.label == "talk" or slot.kind.label == "tutorial" %}
            <a class="edit-slot" href="#"
               data-action="{% url 'schedule_slot_edit' schedule.section.slug slot.pk %}">
              <i class="fa {% if not slot.content %}fa-plus-circle{% else %}fa-edit{% endif %}"></i>
            </a>
            <p class="title">{{ slot.content.title }}</p>
            <p class="speaker">{{ slot.content.speaker }}</p>
          {% else %}
            <a class="edit-slot" href="#"
               data-action="{% url 'schedule_slot_edit' schedule.section.slug slot.pk %}">
              <i class="fa fa-edit"></i>
            </a>
            {% if slot.content_override.raw %}
              {{ slot.content_override.rendered|safe }}
            {% else %}
              {{ slot.kind.label }}
            {% endif %}
          {% endif %}
        </td>
        {% endfor %}
        {% if forloop.last %}
          <td colspan="{{ timetable.rooms|length }}"></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
