{% extends "new_site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}

{% block head_title %}Conference Schedule{% endblock head_title %}
{% block page_title %}Conference Schedule{% endblock page_title %}

{% block body_class %}full{% endblock body_class %}

{% block body %}
    <div class="row">
        <div class="span12">
            <div class="box">
                <div class="box-content">
                    {% box "schedule_top" %}
                    {% for section in sections %}
                        {% for timetable in section.days %}
                            <h2>{{ timetable.day.date|date:"l F jS, Y" }}</h2>
                            {% cache 600 "schedule-table" section.schedule.section %}
                                {% include "schedule/_grid.html" %}
                                {% with timetable.day.date.day|slugify as day %}
                                    {% box "schedule_day_"|add:day %}
                                {% endwith %}
                            {% endcache %}
                        {% endfor %}
                    {% endfor %}

                    {% box "schedule_bottom" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
