{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
  {% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock viewport %}

  {% block style_base %}
  <link href="{% static 'redesign/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,700,900' rel='stylesheet' type='text/css'>
  <link href="{% static 'redesign/css/styles.css' %}" rel="stylesheet">
  {% block extra_style %}{% endblock extra_style %}
  {% endblock style_base %}

  {% block html5shim %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% endblock html5shim %}

  {% block extra_head_base %}
    {% block extra_head %}{% endblock extra_head %}
  {% endblock extra_head_base %}
</head>

<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

  <div class="{% block wrapper_class %}container{% endblock wrapper_class %}">

    {% block topbar_base %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        {% block topbar %}
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block site_brand %}<a class="navbar-brand" href="#"><img src="{% static 'redesign/images/py-small-logo.svg' %}" alt="volunteer hand icon" width=30 height=30></a>{% endblock site_brand %}
        </div>
        <div class="navbar-collapse collapse">
          {% block nav %}
          <ul class="nav navbar-nav">
            <li class="dropdown verticalLine">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Schedule
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/schedule/">Conference Schedule</a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/schedule/talks/list/">Talks List</a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/schedule/tutorials/list/">Tutorials List</a>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Sponsors
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/sponsors/">PyOhio Sponsors</a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/sponsors/apply/">Apply to be a Sponsor</a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/sponsors/prospectus/">Sponsors Prospectus</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="/registration/"> Registration </a>
            </li>

            <li>
              <a href="http://trizpug.org/boot-camp/pyohio13/"> PyCamp </a>
            </li>

            <li>
              <a href="/young-coders/"> PyKids </a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Hotel<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/hotel/testpage/">Test</a>
                </li>
              </ul>
            </li>

            <li class=" ">
              <a href="/dashboard/"> Dashboard </a>
            </li>
          </ul>
          {% endblock nav %}
          {% block account_bar %}
          <ul class="nav navbar-nav navbar-right verticalLine">
            <li>
              <a href="/account/login/">Log in</a>
            </li>
            <li>
              <a href="/account/signup/">Sign up</a>
            </li>
          </ul>
          {% endblock account_bar %}
        </div>
        <!--/.nav-collapse -->
        {% endblock topbar %}
      </div>
    </div>
    {% endblock topbar_base %}

    {% block body_base %}
      <div style="margin-top:75px"></div>
      {% include "_messages.html" %}
      {% block body %}{% endblock body %}
    {% endblock body_base %}

    {% block footer_base %}
    <div class="row">
      <div id="footer">
        <div class="pull-left footer-p">
          <p>©2014 PyOhio</p>
        </div>
        <div class="pull-right footer-p">
          <p>
            Site built by
            <a href="http://www.caktusgroup.com">Caktus Consulting Group, LLC</a>
            and hosted on
            <a href="http://gondor.io/">Gondor</a>.
          </p>
        </div>
      </div>
    </div>
    {% endblock footer_base %}

  </div><!--end of container-->

  {% block script_base %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'redesign/js/bootstrap.min.js' %}"></script>
  {% block extra_script %}{% endblock extra_script %}
  {% endblock script_base %}

  {% block extra_body_base %}
    {% block extra_body %}{% endblock extra_body %}
  {% endblock extra_body_base %}
</body>
</html>
